.plheaderclass {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;
    align-items: center;*/
  padding: 24px;
  font-size: 175%;
  color: darkcyan;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav:hover{
  text-decoration: underline darkcyan;
}
.imgs {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  color: darkcyan;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 140px;
  margin-left: 70px;
  margin-bottom: 40px;
}
.imgs2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  color: darkcyan;
  display: flex;
  flex-wrap: wrap;
  margin: 375px;
  margin-top: 0px;
}
.img1,
.img2,
.img3 {
  margin: 10px;
  height: 240px;
}
.img4,
.img5 {
  margin: 10px;
  height: 240px;
}
.img1 img {
  width: 105%;
  height: 120%;
  position: relative;
}
.img2 img {
  width: 90%;
  height: 120%;
  position: relative;
}
.img3 img {
  right: 32px;
  width: 112%;
  height: 120%;
  position: relative;
}
.img4 img {
  width: 110%;
  height: 120%;
  position: relative;
}
.img5 img {
  margin-left: 7px;
  width: 125%;
  height: 120%;
  position: relative;
}
.p1,
.p4 {
  font-size: 10px;
  color: black;
  position: relative;
  bottom: 220px;
  left: 6px;
  font-size: 25px;
}
.p2{
  font-size: 10px;
  color: black;
  position: relative;
  bottom: 220px;
  left: 6px;
  font-size: 25px;
}
.p3 {
  font-size: 8px;
  color: black;
  position: relative;
  bottom: 220px;
  right:20px;
  font-size: 25px;
}
.p5 {
    font-size: 10px;
    color: black;
    position: relative;
    bottom: 220px;
    left: 10px;
    font-size: 25px;
  }